.coin-list {
  padding: 1rem;
  color: #ddd;
}

.coin-list table {
  width: 100%;
  border-collapse: collapse;
}

.coin-list th, .coin-list td {
  padding: 0.5rem;
  border-bottom: 1px solid #444;
  text-align: left;
}
